<a href="https://colab.research.google.com/github/Ishika355/Disease-Predictor/blob/main/main.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. Importing Libraries**

In [1]:
import pandas as pd.  # Imports the pandas library and aliases it as pd.

# **2. Importing the Dataset**

In [3]:
data = pd.read_csv('heart.csv') # Reads a CSV file named heart.csv into a Pandas DataFrame named data.

# **3. Taking care of Missing Values**

In [11]:
data.isnull() #Checks for missing values in the DataFrame data and returns a boolean DataFrame

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,False,False,False,False,False,False,False,False,False,False,False,False,False,False
299,False,False,False,False,False,False,False,False,False,False,False,False,False,False
300,False,False,False,False,False,False,False,False,False,False,False,False,False,False
301,False,False,False,False,False,False,False,False,False,False,False,False,False,False
302,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [12]:
data.isnull().sum() #Counts the number of missing values in each column of the DataFrame data.

age         0
sex         0
cp          0
trtbps      0
chol        0
fbs         0
restecg     0
thalachh    0
exng        0
oldpeak     0
slp         0
caa         0
thall       0
output      0
dtype: int64

# **4. Taking care of Duplicate Values**

In [9]:
data_dup=data.duplicated().any() #Checks if there are any duplicate rows in the DataFrame data.

In [10]:
data_dup #A boolean value indicating whether there are any duplicate rows in the DataFrame data.

True

In [13]:
data=data.drop_duplicates() #Removes any duplicate rows from the DataFrame data.

In [14]:
data_dup=data.duplicated().any() #Checks if there are any duplicate rows in the DataFrame data after removing duplicates.

In [15]:
data_dup #A boolean value indicating whether there are any duplicate rows in the DataFrame data.

False

# **5. Data Pre-Processing**

In [ ]:
#Imagine you have a table with columns like "eye color", "height", and "favorite food".

# Categorical columns have a limited number of possible values, like "eye color" (blue, brown, green, etc.) or "favorite food" (pizza, pasta, burgers, etc.).
# Numerical columns have values that can be any number, like "height" (5 feet, 6 feet, etc.).
# In the code above, we're separating the columns into two lists:

# cate_val will contain columns like "eye color" and "favorite food" because they have a limited number of unique values.
# cont_val will contain columns like "height" because it can have any numerical value.

In [16]:
cate_val=[] #Columns which contain categorical values
cont_val=[] #Columns which contain numerical values

# Separates the columns in the DataFrame data into categorical and numerical
# based on the number of unique values in each column.
for column in data.columns:
  if data[column].nunique()<=10:
    cate_val.append(column)
  else:
    cont_val.append(column)

In [17]:
cate_val

['sex', 'cp', 'fbs', 'restecg', 'exng', 'slp', 'caa', 'thall', 'output']

In [18]:
cont_val

['age', 'trtbps', 'chol', 'thalachh', 'oldpeak']

# **6. Encoding Categorical Data**

In [19]:
cate_val

['sex', 'cp', 'fbs', 'restecg', 'exng', 'slp', 'caa', 'thall', 'output']

In [27]:
data['cp'].unique()

array([3, 2, 1, 0])

In [ ]:
cate_val.remove('sex')
cate_val.remove('output')

# **7. Feature Scaling**

# **1. Importing Libraries**

# **1. Importing Libraries**

# **1. Importing Libraries**

# **1. Importing Libraries**

# **1. Importing Libraries**

# **1. Importing Libraries**

# **1. Importing Libraries**

# **1. Importing Libraries**